.App {
  text-align: center;
}

.ducks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
}

.duck {
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
}